[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-smorest = "*"
flask-jwt-extended = "*"
pwinput = "*"
pyyaml = "*"
prettytable = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
python-jose = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
